<div>
  <form [formGroup]= "formulario" (ngSubmit)="onSubmit()">
    <div>
      <label>retailer</label>
      <input type="text" formControlName="retailer">
    </div>
    
    <div>
      <label>email</label>
      <input type="text" formControlName="email">
    </div>

    <div>
      <label>password</label>
      <input type="password" formControlName="password">
    </div>

    <div>
      <label>zipcode</label>
      <input type="text" formControlName="zipcode">
    </div>

    <div>
      <label>phone</label>
      <input type="text" formControlName="phone">
    </div>

    <input type="submit" value="Enviar">
  </form>
<!-- {{ formulario.value | json}} -->
</div>